{% extends "base.html" %}
{% block head %}
<style type="text/css" media="screen">
form.dropzone {
  border: 2px solid #FFF;
  height: 400px;
  text-align:center;
  padding-top:200px;
}
</style>
{% endblock %}
{% block body %}
<body>
  <div class="container">
    <h2>Aiff</h2>
    <form action="/upload"
          class="dropzone"
          id="upload-aiff"></form>
  </div>
  <script src="{{ static_url('js/jquery.min.js') }}"></script>
  <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
  <script src="{{ static_url('js/dropzone.min.js') }}"></script>
  <script src="{{ static_url('js/upload.js') }}"></script>
</body>
{% endblock %}
