{% extends "base.html" %}

{% block body %}
<body>
  <footer>
  <h1>Robots have problems, too</h1>
  <h2>Gabriel Falcão</h2>
  </footer>

<audio id="player">
  <source src="{{ static_url('audio/rhept.ogg') }}" type="audio/ogg" />
Your browser does not support the audio element.
</audio>

  <div class="play"><span class="play-button"></span></div>

    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/gplayer.js') }}"></script>
</body>
{% endblock %}